/* *
{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
    /* background: linear-gradient(45deg, #9ad751, #2196f3); */
    background-color: #ece9e9;
    background-image: url('http://glorywebsdemo.com/themeforest/html/carveordering/images/p_bg.jpg');
    width: 100%;
}

#menu_nav {
    position: fixed;
    top: 10%;
    right: 5%;
}

.menu {
    position: absolute;
    top: 10%;
    right: 1%;
    /* width: 300px;
    height: 280px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: #eb5757;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    cursor: pointer;
    font-size: 2em;
    transition: 0.5s;
    z-index: 1000;
}

.menu.active .toggle {
    transform: rotate(360deg);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #333, 0 0 0 8px #fff;
}

.menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.4s;
    transform: rotate(calc(360deg/8*var(--i)));
    transform-origin: 140px;
    scale: 0;
    transition-delay: calc(0.001s * var(--i));
}

.menu.active li {
    scale: 1.2;
}


.menu li a {
    position: relative;
    display: flex;
    transform: rotate(calc(360deg/-8 * var(--i)));
    width: 70px;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.75em;
    color: var(--clr);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.menu li:hover a {
    font-size: 2.5em;
    box-shadow: 0 0 0 2px var(--clr), 0 0 0 6px #fff;
}

.menu.active .shoppingCart:hover {
    font-size: 1.75em !important;
}

.menu li:hover span {
    font-size: 20px !important;
}

@media screen and (max-width: 992px) {
    .menu .toggle {

        top: -70% !important;
        right: -40% !important;

    }

    .menu.active .toggle {
        top: 0% !important;
        right: 0% !important;
    }
}

@media screen and (max-width: 768px) {
    .menu .toggle {

        top: -50% !important;
        right: -40% !important;

    }

    .menu.active .toggle {
        top: 0% !important;
        right: 0% !important;
    }
}

@media screen and (max-width: 500px) {
    .menu .toggle {

        top: -60% !important;
        right: -40% !important;

    }

    .menu.active .toggle {
        top: 0% !important;
        right: 0% !important;
    }
}

@media screen and (max-width: 380px) {
    .menu .toggle {

        top: -60% !important;
        right: -40% !important;

    }

    .menu.active .toggle {
        top: 0% !important;
        right: 0% !important;

    }
}